.table{
    position:relative;
    margin:auto;
    width:100%;

}
.table thead tr th{
    padding:10px;
}
.table tbody tr td{
    padding:10px;
}
.th{
    text-align: center;
}
.btn-outline-dark{
    margin: auto;
    margin-top: 10px;
}
.tabla{
    float: right;
}